@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive;
}

.App {
  height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;
  background-color:aquamarine;
}

.App-header {
  background-color: #ff0055;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: xx-large;
  font-weight: 800;
  color: #EBFF00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #1A62B7;
}

.App-main {
  height: 100%;
  background-color: #E9EBFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 500px;
  height: 550px;
  border-style: dashed;
  margin: 20px;
}

.reference-border {
  border-style: dashed;
}
